@inherits LayoutComponentBase

<div class="page">
    <div>
        <PlayerDetails />
    </div>

    <div>
        <PlayerAchievements />
    </div>

    <nav>
        <NavBar />
    </nav>
    
</div>
