<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="navbar">
    <a href="#"><i class="fa fa-fw fa-search"></i></a>
    <a href="#"><i class="fa fa-fw fa-search"></i></a>
    <a class="active" href="#"><i class="fa fa-fw fa-home"></i></a>
    <a href="#"><i class="fa fa-fw fa-user"></i></a>
    <a href="#"><i class="fa fa-fw fa-user"></i></a>
</div>

@code {

}
